.intro-view {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	.button {
		position:absolute;
		top:80%;
		left: 50%;
		transform: translate(-50%,-50%);
		cursor:pointer;
		border:2px solid black;
		width:32%;
		height:3%;
		padding: 2%;
	}
	video {
		position:absolute;
		top:0px;
		left:0px;
		width:1080px;
		height:1920px;
		background-color:black;
	}

	#avatarWrapper {
		position:absolute;
		bottom:0px;
		width:100%;
		height:500px;
		.avatar-view {
			position:absolute;
			width:300px;
			height:300px;
			/*opacity:0.5;*/

			&:nth-child(1) {
				/*background-color:blue;*/
				top:-50px;
				left:50px;
			}
			&:nth-child(2) {
				/*background-color:green;*/
				top:150px;
				left:390px;
			}
			&:nth-child(3) {
				/*background-color:red;*/
				top:-50px;
				right:50px;
			}

			.hallo {
				position:relative;
				width:100%;
				height:100%;
				background:url('../images/intro/avatar-log-halo.png') no-repeat center center;
				opacity: 0;
			}
		
		}

	}
	#exerciceConstructionRocket {
		position:absolute;
		top:0px;
		right:0px;
		width:200px;
		height:200px;
		background-color:red;
	}
}